<body>
<button (click)="goBack()" class="btn-1">
    <div class="original">ย้อนกลับ</div>
    <div class="letters">
      <span>ย้</span>
      <span>อ</span>
      <span>น</span>
      <span>ก</span>
      <span>ลั</span>
      <span>บ</span>
    </div>
  </button>
<div *ngIf="errorMessage" class="error-message">
    <span>🎃</span> {{ errorMessage }}
  </div>
  <table>
    <tr>
      <th>Event Code</th>
      <th>Event Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let event of events">
      <td>{{ event.event_code }}</td>
      <td>{{ event.event_name }}</td>
      <td>{{ event.start_date }}</td>
      <td>{{ event.end_date }}</td>
      <td>
        <button (click)="editEvent(event)">🎃 Edit</button>
      </td>
    </tr>
  </table>
</body>